


{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<style>
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTExlLXyh_tSS1GIV1RfQrSNj71jqcDID72bg&usqp=CAU');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
{% if user.is_authenticated %}

<h1>{{ post.title }}</h1>
<big>By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}</big>
    {% if user.id == post.author.id %}
        - <a href="{% url 'update_post' post.pk %}">(Edit)</a> -
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a><br/>
    {% endif %}
<hr>
<br/>
{{ post.body|safe }}<br/><br/><br/><br/><hr><br/>


<form action="{% url 'like_post' post.pk%}" method="POST">
    {% csrf_token %}

    {% if liked %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Unlike</button>

    {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>

    {% endif %}

    <big>- {{ total_likes }} Like(s)</big>
</form>

<br/><br/>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>

{% else %}

<h1>{{ post.title }} - {{ post.author.id }}</h1>
<big>By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}</big>
<hr>
<br/>
{{ post.body|safe }}<br/><br/><br/>

<big>{{ total_likes }} Like(s)</big><br/><br/>

<h5 style="color:red">Note:- You cannot like, unlike or comment on this post unless you <a href="{% url 'login' %}">login</a>...!</h5>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>


{% endif %}

{% endblock %}