
{% extends 'base.html' %}
{% block title %}Create a new Bolg Category!{% endblock %}
{% block content %}

<style>
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTExlLXyh_tSS1GIV1RfQrSNj71jqcDID72bg&usqp=CAU');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<h1> About This Website...! </h1><br/><br/>

<p><h5>Hey! I am <strong>Vedant Nichal</strong> and i'm the developer of the website. This website has been created using Python, Django, HTML, CSS and Javascript. This is a blogging website where users can post their own blogs, view, like and comment on other's blog posts and look around for several blogging categories. So go and get an account for yourself and put up your own blog posts.</h5></p><br/><br/>
<h2><strong>Happy Blogging!</strong></h2>

{% endblock %}