{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<style>
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTExlLXyh_tSS1GIV1RfQrSNj71jqcDID72bg&usqp=CAU');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
{% if user.is_authenticated %}

<h1>{{ post.title }}</h1>
<br>
<h4>By: {{ post.author.first_name }} {{ post.author.last_name }}</h4>

<big><h4>Posted on: {{ post.post_date }}</h4>
    {% if user.id == post.author.id %}
        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a><br/>
    {% endif %}

<hr>
</big>

<br/>
{% if post.header_image %}
<img src="{{ post.header_image.url }}"> <br/><br/>
{% else %}

{% endif %}

{{ post.body|safe }}<br/><hr><br/>


<form action="{% url 'like_post' post.pk%}" method="POST">
    {% csrf_token %}

    {% if liked %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Unlike</button>

    {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>

    {% endif %}

    <big><strong>- {{ total_likes }} Like(s)</strong></big><br><br><br>

<hr><h1>Comments...</h1><br/><br/>
{% if not post.comments.all %}
    <h5><strong>No Comments Yet...<a href="{% url 'add_comment' post.pk %}">        Add a Comment...</a></strong></h5>
{% else %}
    <a href="{% url 'add_comment' post.pk %}"><h5>Add a Comment</h5></a><br/><br/>
    {% for comment in post.comments.all %}
        <strong>
            {{ comment.name }} -
            {{ comment.date_added }}
        </strong><br/>
        {{ comment.body }}
        <br/><br/><hr>
    {% endfor %}
{% endif %}
</form>
<br/><br/>

<a href="{% url 'home' %}" class="btn btn-primary">Back</a>





{% else %}

<h1>{{ post.title }}</h1>
<big>By: {{ post.author.first_name }} {{ post.author.last_name }}<br> <br><br>
    {{ post.post_date }}</big>
<hr>
<br/>
{% if post.header_image %}
<img src="{{ post.header_image.url }}"> <br/><br/>
{% endif %}
{{ post.body|safe }}<br/><br/><br/>

<big><strong>{{ total_likes }} Like(s)</strong></big><br/><br/>

<hr><h1>Comments...</h1><br/><br/>
{% if not post.comments.all %}
    <h5><strong>No Comments Yet...</strong><br/><br/></h5>
{% else %}
    {% for comment in post.comments.all %}
        <strong>
            {{ comment.name }} -
            {{ comment.date_added }}
        </strong><br/>
        {{ comment.body }}
        <br/><br/><hr>
    {% endfor %}
{% endif %}

<h5 style="color:red">Note:- You cannot like, unlike or comment on this post unless you <a href="{% url 'login' %}">login</a>...!</h5><br/><br/>

<hr>
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>

{% endif %}

{% endblock %}